:root {
  --brand-color: rgb(0, 44, 219);
}

* {
  margin: 0;
  padding: 0;
}

html {
  box-sizing: border-box;
  scroll-padding-top: 7rem;
}

*, *::before, *::after {
  box-sizing: inherit;
}

@media (prefers-reduced-motion: no-preference) {
  * {
    scroll-behavior: smooth;
  }
}

body {
  background-color: #fff;
  font-family: "Helvetica Neue", Helvetica, sans-serif;
  font-size: 1rem;
}

header {
  background: linear-gradient(
  var(--brand-color),
  rgb(255, 255, 255, 0)
  );
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  position: fixed;
}

header h1 {
  font-weight: normal;
  padding: 10px;
  margin: 10px;
  font-size: 2.5rem;
  color: white;
}

#navbar ul {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
  list-style: none;
  width: 40vw;
  margin: 10px 10px 0px 10px;
  font-size: 1.5rem;
}

@media (max-width: 760px) {
  header {
    height: 16vh;
  }

  #navbar ul {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
    list-style: none;
    width: 40vw;
    margin: 10px 10px 0px 10px;
    font-size: 1.5rem;
  }
}

#navbar a {
  color: white;
  padding: 0 10px;
}

a {
  text-decoration: none;
  cursor: pointer;
}

#navbar a:hover {
  color: var(--brand-color, 50);
}

section {
  /* border-bottom: solid 2px rgb(0, 44, 219, 20%); */
  padding: 70px 20px;
}

#welcome-section {
  width: 100%;
  height: 100vh;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#welcome-section h1 {
    font-weight: normal;
    font-size: 2.5rem;
    /* padding: 0 20px;  */
}

#welcome-section p {
  max-width: 450px;
  font-size: 1.5rem;
  }

#welcome-section #small-text {
  font-size: 1rem;
  margin-top: 5px;
}

#projects {
  width: 100%;
  text-align: center;
  color: white;
}

h2 {
  font-size: 2.5rem;
  font-weight: normal;
  margin-bottom: 80px;
  color: black;
}

.project-tile {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  align-items: center;
  grid-gap: 4rem;
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  margin-bottom: 6rem;
}

.project-link {
  padding: 5px;
  cursor: pointer;
  border-radius: 2%;
  font-weight: normal;
  color: black;
  font-size: 1.5rem;
}

.code {
  color: white;
}

.project-link:hover {
  box-shadow: 0 0 10px 3px var(--brand-color);
}

.project-link:hover .code{
  color: var(--brand-color);  
}

.project-image {
  width: 100%;
  height: calc(100% - 3rem);
  margin-bottom: 10px;
  border: solid 1px rgb(230, 230, 230);
  border-radius: 2%;
}

.button {
  color: black;
  font-size: 1.5rem;
}

.button:hover {
  color: var(--brand-color);
}

#contact {
  width: 100%;
  height: 80vh;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#contact p {
  font-size: 1.5rem;
  margin: -80px 0 80px;
}

#contact-links {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 420px;
}

#profile-link {
  color: black;
  cursor: pointer;
  font-size: 1.5rem;
}

#contact-links a:hover {
  color: var(--brand-color);
}

footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  min-height: 12vh;
  background: linear-gradient(
  rgb(255, 255, 255, 0),
  var(--brand-color)
  );
  color: white;
  text-align: left;
}

footer p {
  padding: 40px 20px;
}

@media (max-width: 760px) {
  #copyright {
    text-align: right;
  }
}